@import "../../styles/colors";

.content {
	position: relative;
	margin-top: 60px;
	padding: 50px;
	gap: 24px;
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
  align-items: center;

	.ad {
		display: flex;
		width: 100%;
		gap: 32px;
		margin-bottom: 24px;
	}

	.popularCarWrap,
	.recomendationCarWrap {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.sectionTitle {
		display: flex;
		flex: 1;
		justify-content: space-between;
		margin-bottom: 24px;

		span {
			font-weight: 700;
			color: $secondary-300;
		}
	}

	.recomendationCarWrap {
		.loadMoreCarsWrap {
			display: flex;
			flex: 1;
			margin-top: 48px;
			align-items: center;
			justify-content: space-between;

			& > span {
				font-size: 14px;
				color: $secondary-300;
			}
		}
	}

	.list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 48px;
	}
}
