.content {
	position: relative;
	margin-top: 60px;
	padding: 50px;
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
  align-items: center;

	.ad {
		display: flex;
		width: 100%;
	}
}
