@import "colors";

@keyframes skeleton-loading {
	0% {
		background-color: rgba($secondary-100, 0.5);
	}

	100% {
		background-color: $secondary-100;
	}
}

@keyframes loading {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
