@import "../../../styles/colors";

.headerWrap {
	display: flex;
	position: absolute;
	justify-content: space-between;
	padding: 20px 32px;
	top: 0;
	left: 0;
	right: 0;
	background-color: $white;
	border-bottom: 2px solid rgba($primary-100, 0.4);

	.filter {
		display: flex;
		flex: 1;
		align-items: center;
		gap: 64px;

		div:nth-child(2) {
			width: 400px;
		}
	}

	.actions {
		display: flex;
		gap: 16px;
	}
}
