@import "../../../styles/colors";

.headerWrap {
	display: flex;
	position: fixed;
	justify-content: space-between;
	padding: 20px 32px;
	top: 0;
	left: 0;
	right: 0;
	background-color: $white;
	border-bottom: 1px solid rgba($primary-100, 0.4);

	.actions {
		display: flex;
		gap: 16px;
	}
}
