@import "../../../../styles/colors";

.inputWrap {
	display: flex;
	position: relative;
	width: fit-content;

	.select {
		label {
			font-weight: bold;
			color: $secondary-500;
		}

		div {
			display: flex;
			align-items: center;
			gap: 8px;
			margin-top: 8px;
			cursor: pointer;

			span {
				color: $secondary-300;
				font-size: 14px;
			}
		}
	}

	.dropdown {
		position: absolute;
		display: flex;
		z-index: 100;
		gap: 8px;
		flex-direction: column;
		background-color: $white;
		border-radius: 5px;
		top: 55px;
		width: 100%;
		max-height: 0;
		overflow: hidden;
		transition: all .5s ease;

		option {
			display: flex;
			align-items: center;
			font-size: 14px;
			padding: 16px 8px;
			margin: 0 8px;
			color: $secondary-500;
			transition: all 500ms ease;
			border-radius: 4px;
			cursor: pointer;

			&:first-child {
				margin-top: 8px;;
			}

			&:last-child {
        margin-bottom: 8px;
			}

			&:hover {
				color: $primary-500;
				background-color: $primary-100;
			}
		}
	}

	.open {
		box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.1);
		max-height: 200px;
		overflow: auto;

		&::-webkit-scrollbar {
			width: 5px;
		}

		&::-webkit-scrollbar-track {
			background: transparent !important;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 5px;
			background: $primary-100;
		}
	}

	.close {
		max-height: 0;
	}
}
