@import "../../../styles/colors";
@import "../../../styles/animations";

$sizes:
	"title1" 25px 300px,
	"title2" 25px 260px,
	"description1" 15px 200px,
	"description2" 15px 190px,
	"button" 30px 80px,
	"image" 110px 300px;

.skeletonWrap {
	display: flex;
  flex-direction: column;
	padding: 24px;
	border-radius: 10px;
	flex-grow: 1;

	&[data-variant="PRIMARY"] {
		background-color: $information-500;
		background-image: url("../../../assets/spiral-bg.png");
	}

	&[data-variant="SECONDARY"] {
		background-color: $primary-500;
		background-image: url("../../../assets/arrows-bg.png");
	}

	div {
		border-radius: 5px;
		background-color: $secondary-100;
		animation: skeleton-loading 500ms linear infinite alternate;
	}

	section:nth-child(2) {
		margin: auto;
	}

	@each $element, $h, $w in $sizes {
		.#{$element} {
			height: $h;
			width: $w;
			margin: 8px 0;
		}
	}

	.description1,
	.button {
		margin-top: 16px;
	}
}
